<!--<app-header></app-header>-->
<!--<app-home-page></app-home-page>-->
<!--<app-footer></app-footer>-->

<!--<app-display-facility></app-display-facility>-->
<!--<app-create-facility></app-create-facility>-->
<!--<app-edit-facility></app-edit-facility>-->

<!--<app-display-customer></app-display-customer>-->
<!--<app-create-customer></app-create-customer>-->
<!--<app-edit-customer></app-edit-customer>-->

<!--<app-display-contract></app-display-contract>-->
<app-create-contract></app-create-contract>
