<div class="container w-50 mt-5 p-2 bg-success" style="border: 1px solid grey; border-radius: 15px">
  <h3 align="center">CHỈNH SỬA KHÁCH HÀNG</h3>

  <form class="row g-3 text-center" [formGroup]="customerForm" (ngSubmit)="editCustomer(id)" novalidate="novalidate">

    <input type="hidden" formControlName="id">

    <div class="col-md-12">
      <label class="form-label">Loại khách hàng</label>
      <select class="form-select" aria-label="Default select example" formControlName="customerType">
        <option value="">--Chọn loại khách hàng--</option>
        <option  *ngFor="let customerType of customerTypes"
                 [ngValue]="customerType.id">{{customerType.customerTypeName}}</option>
      </select>
    </div>

    <div class="col-md-12">
      <label class="form-label">Tên khách hàng</label>
      <input type="text" class="form-control" placeholder="Nhập tên khách hàng" formControlName="customerName">
    </div>

    <div class="col-md-12">
      <label class="form-label">Ngày sinh</label>
      <input type="date" class="form-control" placeholder="Nhập ngày sinh" formControlName="dayOfBirth">
    </div>

    <div class="col-md-12">
      <label class="form-label">Số CMND</label>
      <input type="text" class="form-control" placeholder="Nhập số chứng minh thư" formControlName="idCard">
    </div>

    <div class="col-md-12">
      <label class="form-label">Số Điện Thoại</label>
      <input type="text" class="form-control" placeholder="Nhập số điện thoại" formControlName="customerPhone">
    </div>

    <div class="col-md-12">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" placeholder="Nhập địa chỉ email" formControlName="customerEmail">
    </div>

    <div class="col-md-12">
      <label class="form-label">Địa chỉ</label>
      <input type="text" class="form-control" placeholder="Nhập địa chỉ" formControlName="customerAddress">
    </div>

    <div class="col-12">
      <button class="btn btn-primary">Cập nhật</button>
    </div>

  </form>
</div>
