<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<footer class="bg-success text-center text-lg-start mt-5">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="nav-link font-weight-bold text-white">
            © 2018 Furama Resort Danang.
        </a>
    </div>
</footer>

<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>