<div align="center">
  <h1>QUẢN LÝ DỊCH VỤ</h1>
  <h3>
    <a class="btn btn-outline-primary" href="">Thêm mới dịch vụ</a>
  </h3>
</div>

<div class="container ">
  <div class="row">
    <table class="table table-striped text-center" >
      <thead>
      <tr>
        <th>Mã dịch vụ</th>
        <th>Tên dịch vụ</th>
        <th>Diện tích sử dụng</th>
        <th>Chi phí thuê</th>
        <th>Số người tối đa</th>
        <th>Kiểu thuê</th>
        <th>Loại dịch vụ</th>
        <th>Tiêu chuẩn phòng</th>
        <th>Mô tả tiện nghi</th>
        <th>Diện tích hồ bơi</th>
        <th>Số tầng</th>
        <th>Dịch vụ Free đi kèm</th>
        <th colspan="2">Chức năng</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Villa Beach Front</td>
        <td>500</td>
        <td>8.000.000</td>
        <td>10</td>
        <td>Ngày</td>
        <td>Villa</td>
        <td>Vip</td>
        <td>Đầy đủ tiện nghi</td>
        <td>50</td>
        <td>0</td>
        <td>Thuê xe Free</td>
        <td>
          <a type="button" class="btn btn-primary"
             href="">
            Sửa
          </a>
        </td>
        <td>
          <button type="button" onclick="showInfoDelete(this.value)"
                  value=""
                  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Xoá
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <form action="" method="post">
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input hidden type="text" name="facilityId" id="deleteId">
              <span>Bạn có muốn xóa : </span><span id="deleteName"></span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-primary">Xoá</button>
            </div>
          </div>
        </div>
      </div>
    </form>
<!--    <script>-->
<!--      function showInfoDelete(name) {-->
<!--        let arr = name.split(",")-->
<!--        document.getElementById("deleteId").value = arr[0];-->
<!--        document.getElementById("deleteName").innerText = arr[1];-->
<!--      }-->
<!--    </script>-->
  </div>
</div>
