<app-header></app-header>
<div align="center">
  <h1>DANH SÁCH KHÁCH HÀNG</h1>
  <h3>
    <button type="button" class="btn btn-outline-primary" routerLink="/customer/create">
      Thêm mới khách hàng
    </button>
  </h3>
</div>

<!--  <form class="mb-3" style="position: relative" [formGroup]="searchForm" (ngSubmit)="searchCustomer()">-->
<!--    <div class="row">-->
<!--      <div class="col-3">-->
<!--        <input class="form-control me-2" type="search" placeholder="Tên Khách Hàng" aria-label="Search" formControlName="nameSearch" style="border-bottom-color: unset;">-->
<!--      </div>-->
<!--      <div class="col-3">-->
<!--        <input class="form-control me-2" type="search" placeholder="Số chứng minh" aria-label="Search" formControlName="searchIdCard" style="border-bottom-color: unset;">-->
<!--      </div>-->
<!--      <div class="col-2">-->
<!--        <button class="btn btn-outline-primary" type="submit">Tìm Kiếm</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->

<div class="container ">
  <div class="row">
    <table class="table table-striped text-center">
      <thead>
      <tr>
        <th>Mã Khách Hàng</th>
        <th>Loại khách</th>
        <th>Họ tên</th>
        <th>Ngày sinh</th>
        <th>Số CMND</th>
        <th>Số Điện Thoại</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th colspan="2">Chức năng</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers | paginate: { itemsPerPage: 1, currentPage: p }; index as i">
        <td>{{i + 1}}</td>
        <td>{{customer.customerType.customerTypeName}}</td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.dayOfBirth}}</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.customerPhone}}</td>
        <td>{{customer.customerEmail}}</td>
        <td>{{customer.customerAddress}}</td>
        <td>
          <a routerLink="/customer/edit/{{customer.id}}" type="button" class="btn btn-primary">
            Sửa
          </a>
        </td>
        <td>
          <button type="button" class="btn btn-danger"
                  (click)="deleteCustomer(customer)"
                  data-bs-toggle="modal" data-bs-target="#deleteModal">
            Xoá
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

<!--    Start Delete modal-->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input hidden type="text" name="customerId" id="deleteId">
              Bạn có muốn xóa khách hàng <span style="font-weight: bold; color: red">{{deleteName}}</span> không ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-primary" (click)="delete(deleteId)" data-bs-dismiss="modal">Xoá</button>
            </div>
          </div>
        </div>
      </div>
<!--    End Delete modal-->

  </div>
</div>
<app-footer></app-footer>
