<div align="center">
  <h1>DANH SÁCH KHÁCH HÀNG</h1>
  <h3>
    <a class="btn btn-outline-primary" href="@{/customers/add}">Thêm mới khách hàng</a>
  </h3>
</div>

<nav class="navbar bg-light">
  <div class="container-fluid">
    <form action="@{/customers}" class="d-flex" role="search">
      <input class="form-control me-2" type="search" name ="keyword" placeholder="Tên khách hàng" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Tìm</button>
    </form>
  </div>
</nav>

<div class="container ">
  <div class="row">
    <table class="table table-striped text-center">
      <thead>
      <tr>
        <th>Mã Khách Hàng</th>
        <th>Loại khách</th>
        <th>Họ tên</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>Số CMND</th>
        <th>Số Điện Thoại</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th colspan="2">Chức năng</th>
      </tr>
      </thead>
      <tbody>
      <tr each="customer : ${listCustomer}">
        <td>1</td>
        <td>Gold</td>
        <td>Nguyễn Hữu Thức</td>
        <td>05/01/1996</td>
        <td if="${customer.customerGender} == 0">Nam</td>
        <!--                <td if="${customer.customerGender} == 1">Nữ</td>-->
        <td>201757575</td>
        <td>0932325056</td>
        <td>thuc@gmail.com</td>
        <td>295 Nguyễn Tất Thành</td>
        <td>
          <a type="button" class="btn btn-primary"
             href="@{/customers/edit(id=${customer.customerId})}">
            Sửa
          </a>
        </td>
        <td>
          <button type="button" onclick="showInfoDelete(this.value)"
                  value="${customer.customerId} + ',' + ${customer.customerName}"
                  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Xoá
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <form action="@{/customers/delete}" method="post">
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input hidden type="text" name="customerId" id="deleteId">
              <span>Bạn có muốn xóa : </span><span id="deleteName"></span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-primary">Xoá</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <script>
      function showInfoDelete(name) {
        let arr = name.split(",")
        document.getElementById("deleteId").value = arr[0];
        document.getElementById("deleteName").innerText = arr[1];
      }
    </script>
  </div>
</div>
