<div class="container w-50 mt-5 p-2 bg-success" style="border: 1px solid grey; border-radius: 15px">
  <h3 align="center">CHỈNH SỬA XE KHÁCH</h3>

  <form class="row g-3 text-center" [formGroup]="carForm" (ngSubmit)="editCar(id)" novalidate="novalidate">

    <input type="hidden" formControlName="id">

    <div class="col-md-12">
      <label class="form-label">Biển Số Xe</label>
      <input type="text" class="form-control" formControlName="licensePlates">
    </div>



    <div class="col-12">
      <button class="btn btn-primary">Cập nhật</button>
    </div>

  </form>
</div>


